body, html {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}


#pagina-actual {
    color: #7751FF;
    font-weight: bold;
}


header {
    color: #7751FF;
    text-align: center;
    margin: 50px;
}

.barra-navegable {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 20px;
    background-color: #FFFFFF;
    padding: 20px;
}

.barra-navegable a {
    text-decoration: none;
    color: black;
}

.cuerpo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carta {
    margin: 5%;
    height: 400px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 20px;
    background-color: #A48BFF;
}

.carta p {
    margin: 10px;
}

.carta-imagen {
    margin: 20px;
    height: 250px;
    width: 190px;
    max-width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 20px;
    background-color: #A48BFF;
}

#foto-personal {
    width: 200px;
    height: 200px;
    background-image: url(/img/gatito.jpeg);
    background-position: center;
    background-size: 300px;
    border-radius: 50%;
    margin: 20px;
}

#info-personal {
    width: 50%;
}

#body-sobre-mi {
    flex-direction: column;
    align-items: center;
}